# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
.idea
*.pyc
anvill.egg-info/*
dist/*
build/*
anvill/python/anvill.egg-info/*
anvill/python/build/*
anvill/python/dist/*

#ignore vscode dir
.vscode

#ignore generated version files
VERSION

#do not commit decrypted binja/license
ci/license.txt
ci/BinaryNinja-headless.zip